.section-title p {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 0.5em;
}

.team-card:hover {
    background-color: #cccaca;
}

.easteregg-hidden {
    display: none;
}

footer:hover .easteregg-normal {
    display: none;
}

footer:hover .easteregg-hidden {
    display: block;
}
